ul li{
	font-size: 19px;
}
#p{
	text-align: justify;
    font-size: 21px;
    word-spacing: 13px;
}
.icon{
	font-size: 40px;
	color: black;
}
.b{
		background-color: #0000009c;
	}

.img-b{
	margin-top: 10px;
}