ul li{
	font-size: 19px;
}
#p{
	text-align: justify;
    font-size: 21px;
    word-spacing: 13px;
}
.icon{
	font-size: 40px;
	color: black;
}
.b{
		background-color: #0000009c;
	}

b{
	font-size: 72px;
    font-family: auto;
    position: relative;
    top: -200px;
}

img{
	width: 270px;
}