ul li{
	font-size: 19px;
}
#p{
	text-align: justify;
    font-size: 21px;
    word-spacing: 13px;
}
.icon{
	font-size: 40px;
	color: black;
}
.b{
		background-color: #0000009c;
}


.img2{
	width: 270px;
	margin-bottom: 10px;
}
.cards{
	height: 230px;
	width: 350px;
	line-height: 32px;
	display: inline-block;
}